---
title: Add Users
permalink: addusers
---

{% include head.html %}

<div class="row" id="cont" style="display: none;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="kamsc">
                <h4 class="title">Add Users</h4>
                <p class="category">Add Users to the KAMSC Database</p>
            </div>
            <div class="card-content">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" id="fname">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="lname">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating">
                                <label class="control-label">Graduation Year</label>
                                <input type="text" class="form-control" id="gradyear">
                            </div>
                        </div>
                    </div>
                    <button id="addU" class="btn btn-lg btn-primary pull-left">Add User</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function pageScript(_nimad)
{
    checkAuth(_nimad);
    //$('#addU').onclick(addUser);
    $('#addU').attr('onclick', 'addUser(); return false;');
}
function checkAuth(_nimad)
{
    if (!_nimad)
    {
        location.replace('../index');
    }
    else {
        $('#cont').show();
    }
}
function addUser()
{
    var fname = $('#fname').val();
    var lname = $('#lname').val();
    var gradyear = $('#gradyear').val();
    var username = fname.toString().substr(0, 1) + lname.toString() + gradyear.toString().slice(-2);
    var email = username + "@kamsc.org";
    var password = "K4M5Cstudent#:1";
    console.log(fname);
    console.log(lname);
    console.log(gradyear);
    console.log(username);
    console.log(email);
    au(fname, lname, gradyear, username, email, password, false);
    return false;
}
function au(fname, lname, gradyear, username, email, password, _nimad)
{
    window.username = username
    var root = firebase.database().ref();
    var ct = CryptoJS.AES.encrypt(JSON.stringify({'username': username, 'password': password]}), password);
    root.child("u-k").child(username).set(ct.toString());
    //TODO: Put all the below code on Cloud functions and just make a simple database trigger for the postdata being created for the certain user.
    /*firebase.auth().createUserWithEmailAndPassword(email, password).then(function(user) {
        var root = firebase.database().ref();
        var uid = user.uid;
        var postData = {
            fname: fname,
            lname: lname,
            email: email,
            gradyear: gradyear,
            username: username
        };
        root.child("_nimad").child(uid).set(_nimad);*/
    //TODO: END.
        root.child("users").child(uid).set(postData);
        console.log("Almost there...");
        finishUp();
    });
}
function finishUp()
{
    setTimeout(function() {
        u.updateProfile({
            displayName: window.username
        }).then(function() {
            console.log("Success!");
        }).catch(function(error) {
            console.log("Failure!");
        });
    }, 500);
    setTimeout(function(){location.reload();}, 1500);
}
//4a7c528f7b48ad7c9aa4f7462b36f684367e41084c71b78040a8f0c1b96f887a -- SHA256 for KAMSCh0m3!
</script>

{% include footer.html %}