---
title: Login
permalink: login
---

{% include head.html %}

<div class="row">
    <div class="col-md-6  col-md-offset-3">
        <div class="card">
            <div class="card-header" data-background-color="kamsc">
                <h4 class="title">Login</h4>
                <p class="category">Login to access all features of the KAMSC Dashboard</p>
            </div>
            <div class="card-content">
                <form id="profile">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Username</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary pull-right" id="login" type="submit">Login</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function pageScript(_nimad)
{
    database.goOnline();
    if (!window.u.isAnonymous)
    {
        location.replace("../index");
    }
    $('#login').click(login);
    $("#login").submit(function(e) {
        e.preventDefault();
    });
    $("#profile").attr('onsubmit', 'return false');
    hideOverlay();
}
function login()
{
    var username = $('#username').val();
    var password = $('#password').val();
    //console.log(username);
    //console.log(password);
    lu(username, password);
    return false;
}
function lu(username, password)
{
    //Get email from username somehow.
    const chrespurl = "https://us-central1-web-dev-hosting.cloudfunctions.net/checkPasswordRespEmail";
    $.ajax({
        type: 'POST',
        url: chrespurl,
        data: JSON.stringify({username: username, password: CryptoJS.AES.encrypt(password, 'KAMCh0m3!9455W0RD').toString()}),
        success: function(data) {
            console.log(data);
            console.log(password);
            database.goOffline();
            $.notify({
	            message: 'Login success.'
            },{
	            type: 'success'
            });
            firebase.auth().signInWithEmailAndPassword(data.toString(), password).catch(function(error){
                // Handle Errors here.
                var errorMessage = error.message;
                console.log("Sign in Error: " + errorMessage);
            });
            database.goOnline();
        },
        error: function(data) {
            console.log(data.status);
            $.notify({
	            message: 'Login failed. Check username and password.'
            },{
	            type: 'danger'
            });
        },
        contentType: "application/json",
        dataType: 'text'
    });
}
</script>

{% include footer.html %}
