</body>
<script src="assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
<script src="assets/js/material-bootstrap-wizard.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/sha3.min.js"></script>
<script src="assets/js/firebase-4.1.2.js"></script>
<script src='assets/js/idle.min.js'></script>
<script>
// Initialize Firebase
var config = {
    apiKey: "AIzaSyCj1ks6pBSPgzICsuU7NImnuJ5vU4iKO64",
    authDomain: "web-dev-hosting.firebaseapp.com",
    databaseURL: "https://web-dev-hosting.firebaseio.com",
    projectId: "web-dev-hosting",
    storageBucket: "web-dev-hosting.appspot.com",
    messagingSenderId: "295248901437"
};
firebase.initializeApp(config);

var database = firebase.database();
window.getCookie = function(name) {
    match = document.cookie.match(new RegExp(name + '=([^;]+)'));
    if (match) return match[1];
}
</script>
<script src="assets/js/main.js"></script>